<div class="w-75 m-auto mt-5">
  <h2>new post</h2>
  <form id="new-post-form">
    <div class="input-group input-group-lg mb-3">
      <span class="input-group-text" style="width:125px">title</span>
      <input type="text" class="form-control" />
    </div>
    <div class="input-group input-group-lg mb-3">
      <span class="input-group-text" style="width:125px">content</span>
      <textarea class="form-control" style="height: 200px"></textarea>
    </div>
    <button type="submit" class="btn btn-dark btn-lg" style="width: 125px">
      post
    </button>
  </form>
</div>