<section class="container flex-grow-1">
  <h2 class="fs-1">your dashboard</h2>
  <h4 class="fs-5">your posts</h4>
  <div class="d-flex flex-column w-50">
  {{#each posts}}
    {{> post-item}}
  {{/each}}
  </div>
</section>