<section class="container flex-grow-1">
  <div class="d-flex">
    <div>
      <h2 class="fs-1">dashboard</h2>
      <h4 class="fs-5">your posts</h4>
    </div>
  </div>
  <div class="text-center">
    <a href="/dashboard/new" class="btn btn-dark btn-lg">new post</a>
  </div>
  <div class="d-flex flex-column">
  {{#each posts}}
    {{> components/post-item}}
  {{/each}}
  </div>
</section>