<section class="container flex-grow-1">
  <div class="d-flex">
    <div>
      <h2 class="fs-1">home</h2>
      <h4 class="fs-5">all posts</h4>
    </div>
  </div>
  <div class="d-flex flex-column">
  {{#each posts}}
    {{> components/post-item}}
  {{/each}}
  </div>
</section>