<form>
  <div class="mb-3">
    <label for="login-username" class="d-none form-label">username</label>
    <input id="login-username" type="text" placeholder="username" class="form-control" />
  </div>
  <div class="mb-3">
    <label for="login-password" class="d-none form-label">password</label>
    <input
      id="login-password"
      type="password"
      placeholder="password"
      class="form-control"
    />
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
