<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>bob blog</title>
    {{> stylesheets}}
  </head>
  <body class="vh-100 d-flex flex-column">
    {{> header}}
    <section class="container flex-grow-1">
      {{{body}}}
    </section>
    {{> footer}}
    {{> scripts}}
  </body>
</html>